/*
	Comment
*/

a { /* Comment */ color: /* Comment */ Red; }

.TestClass {
	color: Black;
	background-color: White;
	text-align: left;
}
	.header{
		font-family:"Freebooter Script", Serif;
		text-align:center;
		font-size: 1.5em;
	}
	.footer{
		from-top:90%;
		text-align:center;
	}
	body{
		background-image: url("background1.png");
	}
	
	.navtable{
		width: 100%;
		text-align:center;
		font-size:1.5em;
		
	}
	
	
	.link{
		
	}
	a{
		color: black;
	}
	
	.rcontent{
	    display:block;
		margin-left: 70%;
		from-top: 10%;
	}
	#text{
		text-align:center;
		font-size:1.5em;
	}