

.TestClass {
	color: Black;
	background-color: White;
	text-align: left;
}
	.header{
		
		text-align:center;
		font-size: 1.5em;
		
	}
	.footer{
	position: fixed;
		from-top: 90%;
		text-align:center;
	}
	body{
		background-image: url("background1.png");
	}
	
	.navtable{
		width: 100%;
		text-align:center;
		font-size:1.5em;
		
	}
	
	/* Dropdown Button */
.dropbtn {
    background-color: #9a86e4;
    color: white;
    padding: 20px;
	width: 200px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f2}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
	
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #7559de;
}
/*	.btable{
		
		width: 100%;
		 opacity:0.50; 
		 filter:Alpha(Opacity=50);
		 background-color:darkblue;
		 from-top: 495px;
		 z-index: -1;
		 position: absolute;
	}
	
	.ftable{
		from-top: 500px;
		z-index: 1;
		position: absolute;
	
	} */
	
	.link{
		
	}
	a{
		color: black;
	}
	
	.rcontent{
	    display:block;
		margin-left: 70%;
		from-top: 10%;
	}
	.text{
	
		text-align:center;
		font-size:1.5em;
		
	}
	table{
		text-align: center;
	}
	
