/*
	Comment
*/

a { /* Comment */ color: /* Comment */ Red; }

.TestClass {
	color: Black;
	background-color: White;
	text-align: left;
}
	.header{
		font-family:"Freebooter Script", Serif;
		text-align:center;
		font-size: 1.5em;
	}
	.footer{
		from-top:90%;
		text-align:center;
	}
	body{
		background-color: linen;
	}
	
	table{
		width: 100%;
		text-align:center;
		font-size:1.5em;
		
	}
	.link{
		
	}
	a{
		color: black;
	}